@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <YogIt.Modules.JobPostings.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.PostingTemplate, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextAreaFor(m => Model.PostingTemplate)
    </div>
</fieldset>

